@font-face {
    font-family: f1;
    src: url('./Another\ Danger\ -\ Demo.otf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-image: url('https://i.pinimg.com/736x/be/bb/6d/bebb6d8cb3dd2d5fd9f077a8431e9332.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#main h1{
    padding-top: 30px;
    font-family: f1;
    font-size: 50px;
    color: rgba(238, 237, 237, 0.89);
    text-align: center;
}

button{
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    margin: 20px 625px;
}