*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: #61daffc9;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 20px 20px 20px;
    gap: 30px;
}



#card{
    height: 400px;
    width: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5)
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #61dafb;
    color: white;
}

button:hover{
    background-color: transparent;
    border: 2px solid #61dafb;
    color: #61dafb;
    cursor: pointer;
}

p{
    text-align: center;
}